@model IEnumerable<TravelWeb.Models.Hotel>
@{
    ViewBag.Title = "HotelLocation";
    Layout = "~/Views/User/_LayoutUser.cshtml";
}





@if (TempData["message"] != null)
{
    ViewBag.Message = TempData["message"];

}
@{
    ViewBag.UN = TempData["UN"];
}
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-4 bg-light rounded-3 text-center">
            <h1>Hotel </h1>

        </div>
    </div>
    <a class="btn btn-primary btn-sm" href="javascript:void(0);" onclick="history.go(-1);">Back </a>
</header>

<tbody>
    @foreach (var c in Model)
    {

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="img-thumbnail"><img src=@Url.Content(c.HotelImage) alt="" height="200" width="340" /></div>
                    <h2 class="card-title">@Html.DisplayFor(model => c.Name)</h2>
                    <p class="card-text">@Html.DisplayFor(model => c.Description)</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="@Url.Action("ShowTypeRoom", new {id = c.Id})">View Type Room</a></div>

            </div>
        </div>


    }
</tbody>




