
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/User/_LayoutUser.cshtml";



}

<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://e4life.vn/wp-content/uploads/2021/09/tu-vung-ielts-chu-de-travel.png" alt="..." /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Booking Hotel</h1>
        <p>Take you where you want to go. Let's explore together</p>
        <a class="btn btn-primary btn-lg" href=@Url.Action("ShowLocation","User")>Start to Location</a>
    </div>
</div>
