
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/User/_LayoutUser.cshtml";



}

<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Booking Hotel welcome!</h1>
              
                <a class="btn btn-primary btn-lg" href=@Url.Action("ShowLocation","User")>Start to Location</a>
            </div>
        </div>
    </div>
</header>


